<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.my.project1">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>

<application
    android:allowBackup="true"
    android:icon="@drawable/a2"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
        android:name=".LoginActivity"
        android:label="@string/app_name"
        >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

    </activity>
    <activity android:name=".activity_for_community.Activity1"
        android:theme="@style/AppTheme.NoActionBar">

    </activity>
    <activity android:name=".BuGaoLan_Activity"
        android:theme="@style/AppTheme.NoActionBar">

    </activity>
    <activity android:name=".MyUserInfoActivity"
        android:theme="@style/AppTheme.NoActionBar">

    </activity>
    <activity android:name=".Setting_Activity"
        android:theme="@style/AppTheme">

    </activity>
    <activity android:name=".PushPostActivity"
        android:theme="@style/AppTheme">
    </activity>

    <activity android:name="me.iwf.photopicker.PhotoPickerActivity"
        android:theme="@style/actionBarTheme"
        />

    <activity android:name="me.iwf.photopicker.PhotoPagerActivity"
        android:theme="@style/actionBarTheme"/>

    <activity
        android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
        android:screenOrientation="portrait"
        android:exported="true"
        android:theme="@style/Theme_Light.Blue"/>
    <activity
        android:name="com.yalantis.ucrop.UCropActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme_Light.Blue"/>

</application>

</manifest>